# 依赖文件
__pycache__/
*.py[cod]
*.pth
*.pt

# 数据文件（如果数据文件很大，不建议上传到GitHub）
archive/

# 本地模型文件
bert-base-uncased-local/
bert_anime_model/

# 日志和图片文件
*.png
*.txt
*.log

# IDE文件
.vscode/
.idea/

# 可执行文件
*.exe
*.lnk
*.url
